.progress-bar {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
  position: relative;
}

.progress {
  height: 100%;
  background-color: #A729F5; 
  width: 0%; 
  transition: width 0.5s ease-in-out; 
}